# Mission to Mars

### Step 1 - Scraping

In [1]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [2]:
executable_path = {"executable_path":"chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

##### NASA Mars News

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [4]:
news_title = soup.find("div", class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text

In [5]:
print("Latest News Title:")
print(news_title)
print("")
print("Teaser Paragraph:")
print(news_p)

Latest News Title:
Curiosity on the Move Again

Teaser Paragraph:
NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles.

##### JPL Mars Space Images - Featured Image

In [6]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [7]:
image = soup.find("article", class_="carousel_item")["style"]

image_url = image[image.find("('")+2:image.find("')")]

In [8]:
base_url = "https://www.jpl.nasa.gov"

In [9]:
featured_image_url = base_url + image_url

In [10]:
print("Featured Image URL:")
print(featured_image_url)

Featured Image URL:
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17254-1920x1200.jpg

##### Mars Weather

In [11]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [12]:
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [13]:
print("Latest Mars Weather:")
print(mars_weather)

Latest Mars Weather:
Sol 2220 (2018-11-04), high -10C/14F, low -73C/-99F, pressure at 8.66 hPa, daylight 06:16-18:33

##### Mars Facts

In [14]:
url = "https://space-facts.com/mars/"
browser.visit(url)

In [15]:
table = pd.read_html(url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 째C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
df = table[0]

In [17]:
df = df.rename(columns={df.columns[0]:"Fact",df.columns[1]:"Data"})
df = df.set_index("Fact")

In [18]:
df

                                               Data
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 째C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Data</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 째C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

##### Mars Hemispheres

In [20]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [21]:
base_url = "https://astrogeology.usgs.gov"

In [22]:
hemisphere_image_urls = []

for x in range(0,4):
    link = browser.find_by_tag("h3")[x]
    link.click()
    
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    
    title = soup.find("h2", class_="title").text
    link = soup.find("img", class_="wide-image")["src"]
    img_link = base_url + link
    
    title_and_url = {"Title" : title,
                    "img_url" : img_link}
    hemisphere_image_urls.append(title_and_url)
    
    browser.back()

In [23]:
hemisphere_image_urls

[{'Title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [24]:
for x in hemisphere_image_urls:
    print("Title:")
    print(x["Title"])
    print("img_url:")
    print(x["img_url"])
    print("")

Title:
Cerberus Hemisphere Enhanced
img_url:
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

Title:
Schiaparelli Hemisphere Enhanced
img_url:
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg

Title:
Syrtis Major Hemisphere Enhanced
img_url:
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg

Title:
Valles Marineris Hemisphere Enhanced
img_url:
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg